/*Resetando estilos*/
* {
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

:root {
  --color-bg-search-bar: rgba(255, 255, 255, 0.2);
  --color-bg-header: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
  --body: #f3f5f7;
  --color-title-noticia: #313131;
  --color-text-noticia: #b6b6b6;
}

body {
  background: var(--body);
}

/*Scroll-bar*/
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #574ae8;
  border-radius: 20px;
}

/*Navegação*/
.nav-header {
  background: var(--color-bg-header);
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.container-header {
  width: 900px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 30px;
  margin-top: 41px;
  margin-bottom: 73px;
}

/*Barra de pesquisa*/
.form {
  background: var(--color-bg-search-bar);
  width: 900px;
  height: 65px;
  margin-bottom: 41px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.inputSearch {
  background: transparent;
  width: 755px;
  height: 60px;
  border: 0;
  outline: 0;
}

.inputSearch::placeholder {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.5;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

/*Icone da barra de pesquisa*/
.fa-search {
  height: 18px;
  width: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

/*Noticias*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noticia-container {
  background: #ffffff;
  width: 850px;
  height: inherit;
  margin-bottom: 50px;
  padding: 23px 25px 25px 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
}

.date-like {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.date {
  font-size: 16px;
  line-height: 20px;
  color: #b6b6b6;
}

.fa-heart {
  color: #574ae8;
}

.title-noticia {
  color: var(--color-title-noticia);
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 8px;
}

.text-noticia {
  color: var(--color-text-noticia);
  font-size: 18px;
  line-height: 32px;
}

/*Responsividade*/
@media screen and (max-width: 768px) {

  /*Header*/
  .container-header {
    width: 600px;
  }

  .form {
    background: var(--color-bg-search-bar);
    width: 600px;
  }

  .inputSearch {
    width: 540px;
  }

  /*Content*/
  .noticia-container {
    width: 550px;
  }
}

@media screen and (max-width: 425px) {
  /*Header*/
  .nav-header {
    margin-bottom: 50px;
  }
  .container-header {
    width: 374px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 48px;
    margin-bottom: 41px;
  }

  .form {
    background: var(--color-bg-search-bar);
    width: 374px;
    height: 40px;
  }

  .inputSearch {
    width: 315px;
    height: 40px;
  }

  .inputSearch::placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  /*Content*/
  .noticia-container {
    padding: 16px;
    width: 360px;
    margin-bottom: 25px;
  }

  .date-like {
    margin-bottom: 27px;
  }
  
  .date {
    font-size: 14px;
    line-height: 17px;
  }

  .title-noticia {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 9px;
  }
  
  .text-noticia {
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (max-width: 375px) {
  /*Header*/
  .container-header {
    width: 300px;
  }

  .form {
    background: var(--color-bg-search-bar);
    width: 300px;
  }

  .inputSearch {
    width: 240px;
  }

  /*Content*/
  .noticia-container {
    width: 268px;
  }
}

@media screen and (max-width: 320px) {
  /*Header*/
  .container-header {
    width: 300px;
  }

  .form {
    background: var(--color-bg-search-bar);
    width: 300px;
    height: 30px;
  }

  .inputSearch {
    width: 265px;
    height: 30px;
  }

  .inputSearch::placeholder {
    font-size: 10px;
  }

  /*Content*/
  .noticia-container {
    width: 260px;
  }
}

/*Animação*/
[data-anime]{
  opacity: 0;
  transition: .3s;
}

[data-anime="top"]{
  transform: translate3d(0, -50px, 0);
}

[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
